.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #611ff0;
  color: white;
}

.custom-container {
  background-color: #480e7f;
}

.table td {
  text-align: center;
}
.table th {
  text-align: center;
}
